@media (min-width: 1000px){
    .modal-lg {
        width: 950px;
    }
}
@media (min-width: 1100px){
    .modal-lg {
        width: 1050px;
    }
}
@media (min-width: 1200px){
    .modal-lg {
        width: 1150px;
    }
}
@media (min-width: 1300px){
    .modal-lg {
        width: 1250px;
    }
}
@media (min-width: 1400px){
    .modal-lg {
        width: 1350px;
    }
}